In [1]:
# import basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
# read the file
data_yelp=pd.read_csv('yelp_labelled.txt',sep='\t',header=None)
data_imdb=pd.read_csv('imdb_labelled.txt',sep='\t',header=None)
data_amazon=pd.read_csv('amazon_cells_labelled.txt',sep='\t',header=None)

In [4]:
data_yelp.head()

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [11]:
data_imdb.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [12]:
data_amazon.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [13]:
column_name=['Review','Sentiment']
data_yelp.columns=column_name
data_imdb.columns=column_name
data_amazon.columns=column_name

In [14]:
data_yelp.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [15]:
data_imdb.head()

                                              Review  Sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [16]:
data_amazon.head()

                                              Review  Sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [21]:
print('Yelp---',data_yelp.shape)
print('imdb---',data_imdb.shape)
print('amazon---',data_amazon.shape)

Yelp--- (1000, 2)
imdb--- (748, 2)
amazon--- (1000, 2)

In [22]:
# append all three datasets together
data=data_yelp.append([data_amazon,data_imdb],ignore_index=True)

In [23]:
data.shape

(2748, 2)

In [24]:
data.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [25]:
# check distribution of sentiments
data['Sentiment'].value_counts()
# almost balanced

1    1386
0    1362
Name: Sentiment, dtype: int64

In [27]:
# check for missing values
data.isnull().sum()

Review       0
Sentiment    0
dtype: int64

# Text preprocessing

In [28]:
x=data['Review']
y=data['Sentiment']

In [ ]:
# we use spacy library to remove punctuations, stop words and lemmetisation.

In [39]:
import string

In [40]:
punct = string.punctuation

In [41]:
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [42]:
from spacy.lang.en.stop_words import STOP_WORDS

In [43]:
stopwords = list(STOP_WORDS) # list of stopwords

In [37]:
import spacy 

nlp = spacy.load('en_core_web_sm')

def text_data_cleaning(sentence):
  doc = nlp(sentence)   # load spacy model

  tokens = [] # list of tokens
  for token in doc:
    if token.lemma_ != "-PRON-":    #if word is not proper noun then convert into lower case
      value = token.lemma_.lower().strip()
    else:
      value = token.lower_
    tokens.append(value)
  
  cleaned_tokens = []
  for token in tokens:
    if token not in stopwords and token not in punct:
      cleaned_tokens.append(token)
  return cleaned_tokens

In [44]:
stopwords

['again',
 'therein',
 'where',
 'too',
 'nobody',
 'hereafter',
 'still',
 'next',
 'whoever',
 'not',
 'me',
 'get',
 'toward',
 'except',
 'twelve',
 'ourselves',
 'ours',
 'am',
 'during',
 'throughout',
 'only',
 'about',
 'also',
 'wherever',
 'an',
 'just',
 'himself',
 'hereby',
 'much',
 'one',
 "n't",
 'within',
 'above',
 'therefore',
 'few',
 'us',
 '‘s',
 'thru',
 'around',
 'rather',
 'becomes',
 'front',
 'after',
 'my',
 'two',
 'might',
 'whenever',
 'regarding',
 'every',
 'our',
 'part',
 "'re",
 'onto',
 'that',
 'and',
 'often',
 'sixty',
 'some',
 'yourselves',
 'always',
 'ca',
 'anywhere',
 'at',
 'without',
 'can',
 'since',
 'may',
 'what',
 'together',
 'same',
 'beyond',
 'formerly',
 'four',
 'moreover',
 'been',
 'done',
 'a',
 'seems',
 'via',
 'sometime',
 'his',
 'he',
 'through',
 'be',
 'amongst',
 'alone',
 'else',
 'into',
 'none',
 'beforehand',
 'another',
 'they',
 'afterwards',
 'due',
 'by',
 'most',
 'whole',
 'here',
 'mine',
 'three',
 'fifteen',
 'six',
 'serious',
 'put',
 'but',
 'off',
 'for',
 'yet',
 'such',
 'empty',
 'among',
 'forty',
 'on',
 'whatever',
 'has',
 'full',
 'side',
 'upon',
 'namely',
 'until',
 'thereby',
 'used',
 'although',
 'made',
 'nevertheless',
 'any',
 'along',
 'latterly',
 'neither',
 "'m",
 'top',
 'with',
 'of',
 'do',
 'meanwhile',
 'than',
 'keep',
 'or',
 'bottom',
 'five',
 'give',
 'other',
 'there',
 'should',
 '‘m',
 'whence',
 'almost',
 '’s',
 'all',
 'herein',
 'seem',
 'see',
 'across',
 'before',
 'however',
 'please',
 'she',
 'quite',
 'became',
 'your',
 'eleven',
 'hereupon',
 'whither',
 'these',
 'we',
 'being',
 'is',
 '‘d',
 'now',
 'ever',
 'between',
 'enough',
 'thence',
 'down',
 'further',
 'ten',
 'behind',
 'less',
 'per',
 'elsewhere',
 'thus',
 'several',
 'from',
 'show',
 'which',
 '’ve',
 'both',
 'because',
 'make',
 'hence',
 'nine',
 '’m',
 'take',
 'say',
 'under',
 'whom',
 'beside',
 'either',
 'would',
 'in',
 'was',
 'third',
 'him',
 'already',
 'besides',
 'own',
 'nowhere',
 '’d',
 'whether',
 'seemed',
 'last',
 'the',
 'were',
 'name',
 'then',
 'whereupon',
 'really',
 'had',
 "'ll",
 'it',
 'once',
 'have',
 'anyone',
 'mostly',
 'could',
 'towards',
 'who',
 'somehow',
 'everyone',
 'call',
 'so',
 'twenty',
 'even',
 'against',
 'while',
 'though',
 'well',
 'latter',
 'least',
 'how',
 '’ll',
 'nor',
 'this',
 'back',
 'something',
 'n’t',
 'thereupon',
 'whose',
 'move',
 'someone',
 'whereafter',
 'sometimes',
 'wherein',
 'thereafter',
 '‘ve',
 'somewhere',
 'does',
 'everything',
 'her',
 '‘ll',
 'to',
 'fifty',
 'go',
 'over',
 'you',
 'perhaps',
 'nothing',
 'did',
 'become',
 'using',
 'never',
 'herself',
 'anyhow',
 'eight',
 'noone',
 'anything',
 'amount',
 'everywhere',
 'whereby',
 'becoming',
 'yourself',
 "'ve",
 "'s",
 'cannot',
 'first',
 're',
 'very',
 'those',
 'n‘t',
 'seeming',
 'doing',
 'myself',
 'otherwise',
 '‘re',
 'each',
 'will',
 'below',
 'indeed',
 'hers',
 'must',
 'its',
 'hundred',
 'i',
 'when',
 'anyway',
 "'d",
 'why',
 'out',
 'itself',
 'more',
 'unless',
 'themselves',
 'their',
 'if',
 'as',
 'many',
 'up',
 'former',
 'yours',
 'various',
 'whereas',
 'them',
 'are',
 'no',
 '’re',
 'others']

In [45]:
text_data_cleaning("Hello all, It's a beautiful day outside there!")
# stopwords and punctuations removed

['hello', 'beautiful', 'day', 'outside']

# support vector machine

In [46]:
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

In [47]:
tfidf = TfidfVectorizer(tokenizer=text_data_cleaning)

In [48]:
classifier = LinearSVC()

In [49]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [50]:
model = Pipeline([('tfidf',tfidf), ('clf',classifier)])

In [51]:
model.fit(x_train, y_train)

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(tokenizer=<function text_data_cleaning at 0x7f0cc9188830>)),
                ('clf', LinearSVC())])

In [53]:
y_pred =model.predict(x_test)

In [54]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [55]:
confusion_matrix(y_test, y_pred)

array([[201,  78],
       [ 50, 221]])

In [56]:
accuracy_score(y_test,y_pred)

0.7672727272727272

In [58]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.72      0.76       279
           1       0.74      0.82      0.78       271

    accuracy                           0.77       550
   macro avg       0.77      0.77      0.77       550
weighted avg       0.77      0.77      0.77       550

XGB Classifier

In [65]:
from xgboost import XGBClassifier
classifier=XGBClassifier()

In [66]:
model = Pipeline([('tfidf',tfidf), ('clf',classifier)])

In [67]:
model.fit(x_train, y_train)

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(tokenizer=<function text_data_cleaning at 0x7f0cc9188830>)),
                ('clf', XGBClassifier())])

In [68]:
y_pred =model.predict(x_test)

In [69]:
confusion_matrix(y_test, y_pred)

array([[253,  26],
       [127, 144]])

In [70]:
accuracy_score(y_test,y_pred)

0.7218181818181818

In [71]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.67      0.91      0.77       279
           1       0.85      0.53      0.65       271

    accuracy                           0.72       550
   macro avg       0.76      0.72      0.71       550
weighted avg       0.76      0.72      0.71       550